nav{
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);

    &_image{
        &_icon{
            position: absolute;
            top:50%;left:50%;
            transform: translate(-50%,-50%);
            height: 63px;
        }
    }

    &_list{
        display: flex;
        list-style-type: none;
        margin-left: 5px;
        width: 99%;
        &_item{
            font-size: 1.75em;
            margin-left: 25px;
            &:first-child{
                margin-left: 60px;
            }
            &:nth-child(4){
                margin-left: auto;
                
            }
            &:nth-child(5){
                
                margin-right: 60px;
            }
            &_text{
                color: #2a2a33;
                margin-left: 5px;
                text-decoration: none;
                font-weight: 700;
                transition: 0.3s;
                &:hover{
                    color: #006aff;
                }
            }
        }
    }
    
}